<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ЛихаЧат-Сообщение</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- 
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
     -->

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.css" rel="stylesheet">
    <!--
    <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
    -->
    <script src="vendor/angular/angular.min.js"></script>
    
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="https://lihachat.ru">ЛихаЧат</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <!-- 
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#how">Как это работает</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#join">Подключиться</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#faq">Вопросы</a>
            </li>
          </ul>
           -->
        </div>
      </div>
    </nav>


  	<div class="container"  ng-app="answerApp" ng-controller="answerCtrl" style="padding-top:150px;">
  		
  		<div ng-show="message" class="text-center">
  		<!-- 
	  		<div class="card text-center" style="width:{{mapWidth}}px;">
	  			<div class="card-header">
	    			Сообщение для автомобиля
	    			{{message.carNumberTo}}
	  			</div>
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
	
	  			</div>
				<a href="https://maps.yandex.ru/?ll={{message.longitude}},{{message.latitude}}&pt={{message.longitude}},{{message.latitude}},pmwtl&l=map&z=14">
					<img class="card-img-top" ng-src="https://static-maps.yandex.ru/1.x/?ll={{message.longitude}},{{message.latitude}}&pt={{message.longitude}},{{message.latitude}},pmwtl&l=map&z=14&size={{mapWidth}},{{mapHeight}}"
	  					width="{{mapWidth}}" height="{{mapHeight}}" alt="Место, где все произошло"/>
				</a>				
	  		</div>
-->
	  		<h3>
	  			Сообщение для автомобиля <br> 
	  			{{message.carNumberTo}} 
	  		</h3>
	  		<!-- 
	  		<div style="position:relative;width:600px;"> 
		    	<img src="/images/icons/car-front-driver.svg" width="300px">
		    	<img src="/images/icons/baloon.svg" style="position:absolute;left: 0; right: 0; margin-left: auto; margin-right: auto; width: 100px; top:10px;">
		    	<img src="/images/icons/car-front.svg" width="300px">
		    	< ! - -  <img src="http://bestsmileys.ru/ng/X256KTR79.gif" style="position:absolute;left: 0; right: 0; margin-left: auto; margin-right: auto; width: 100px; top:150px;"> - - >
		    	<img ng-src="{{convertNumberToUrl(message.carNumberTo)}}" style="position:absolute;left: 0; right: 0; margin-left: auto; margin-right: auto; width: 100px; top:410px;">
		    </div>
		     -->
	  		<div>от {{message.from.userDesc}}</div>
	  		<div>{{message.message}}</div>
	  		<div>Место: {{message.locationTitle}}</div>
	  		<div>Время: {{message.creationDate | date : 'dd-MM-yy HH:mm'}}</div>
	  		
	  		<div ng-show="message.answer == null && message.messageType.answers.length > 0" class="text-center">
		  		<h4>Выберите вариант ответа и 
		  		<br>
		  		мы пошлем его отправителю</h4>
		  		<!-- 
		  		<div class="row justify-content-md-center">
			  		<div class="text-left col-6 ml-4" ng-class="{'has-error' : error.fieldName=='phone'}">
	  					<label for="phone">Последние 4 цифры вашего телефона</label>
			  			<input type="text" name="phone" ng-model="phone" placeholder="1234" maxlength="4" class="form-control">
			  		</div>
		  		</div>
		  		 -->
		  		<div class="row justify2-content-md-center" ng-repeat="option in message.messageType.answers">
			  		<div class="text-left ml-4 col-6">
		  				<input type="radio" name="answer" ng-model="formData.answer" ng-value="option" id="option-{{option.name}}" class="form-check-input">
	  					<label for="option-{{option.name}}"  class="form-check-label">{{option.title}}</label>
			  		</div>
		  		</div>
		  		<div ng-show="error" class="text-danger">
		  			{{error.message}}
		  		</div>
		  		<div>
		  			<button class="btn btn-info btn-large" ng-disabled="hasError() || submitting" ng-click="submit()">Ответить</button>
		  		</div>
		  	
	  		</div>
	  		<div ng-show="message.answer != null">
	  			Вы ответили {{message.answer.message}}
	  		</div>
		  	<div style="padding-top:50px;padding-bottom:50px">
		  		<a href="https://lihachat.ru/#join">Подключайтесь</a> к нам и вы сможете посылать сообщения другим водителям по номеру автомобиля
				<br>
		          <a class="btn btn-xl btn-primary btn-outline-light1" href="https://lihachat.ru/#join">
		            <i class="fa fa-sign-in mr-2"></i>
              		Подключиться к ЛихаЧат
              	  </a>
		  	</div>
	  		<img ng-src="https://static-maps.yandex.ru/1.x/?ll={{message.longitude}},{{message.latitude}}&pt={{message.longitude}},{{message.latitude}},pmwtl&l=map&z=14&size={{mapWidth}},{{mapHeight}}"
	  		width="{{mapWidth}}" height="{{mapHeight}}" alt="Место, где все произошло"/>
	  		 
  		</div>
  		<div ng-show="codeIsNotFound" class="alert alert-danger">
  			<h3>
  				Сообщение не найдено. 
  			</h3>
  			<p>
  				Проверьте ссылку, возможно вы ошиблись.
  			</p>
  		</div>
  	</div>
  	

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; ЛихаЧат 2018</small>
        
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://fb.me/liha4at">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://vk.com/lihachat">
                  <i class="fa fa-fw fa-vk"></i>
                </a>

      </div>
    </div>
  	
  </body>
</html>

<script type="text/javascript">
var app = angular.module("answerApp", []); 
app.controller("answerCtrl", function($scope, $http) {
	var path = location.pathname;
	var idx = path.lastIndexOf('/');
	var code = path.substring(idx + 1);
    $http.get('/api/messages/' + code).then(function(data){
    	console.log(data);
    	$scope.message = data.data;
    }, function(error){
    	$scope.codeIsNotFound = true;
    });
    var mapWidth = window.innerWidth;
    mapWidth = mapWidth > 400 ? 400 : mapWidth;
    $scope.mapWidth = mapWidth;
    $scope.mapHeight = mapWidth;
    $scope.formData = {answer:null};
    
    $scope.submit = function() {
		$scope.error = null;
    	$scope.submitting = true;
    	$http.post('/api/answer', 
    			{
    				code : code,
    				phone : $scope.phone,
    				answer : $scope.formData.answer.name
    			})
    	.then(function(data){
        	$scope.submitting = false;
        	$scope.answered = true;
        	$scope.message.answer = data.data;
    	}, function(error) {
    		console.log(error);
    		if(error.data.message) {
    			$scope.error = error.data;
    		}
    	});
    }
    
    $scope.hasError = function() {
    	var errorText = $scope.validate();
    	return errorText != null;
    }
    
    $scope.validate = function() {
    	if(!$scope.formData.answer) {
    		return 'Не выбран вариант ответа';
    	}
    	/*
    	if(!$scope.phone) {
    		// return 'Введите последние 4 цифры телефона';
    	}
    	if($scope.phone.trim().length != 4) {
    		// return 'Введите 4 цифры телефона';
    	}
    	*/
    	return null;
    }
    
    $scope.convertNumberToUrl = function(s) {
    	if(s && s.length > 0) {
    		var cs = convertNumberForTranslit(s);
    		cs = cs.replace(/([0-9]+)$/g, 'R$1.gif');
    		return 'http://bestsmileys.ru/ng/' + cs;
    	}
    }
    
    function convertNumberForTranslit(s) {
    	var map = {
    		'У':'Y',
    		'К':'K',
    		'Е':'E',
    		'Н':'H',
    		'Х':'X',
    		'В':'B',
    		'А':'A',
    		'Р':'P',
    		'О':'O',
    		'С':'C',
    		'М':'M',
    		'Т':'T',
    	}
    	var answer = '';
    	for (i in s){

    		var c = map[s[i]];
            if(c) {
                answer += c;
            } else {
                answer += s[i];
            }

        }
        return answer;
    }
});
</script>